<ActionBar>
    <NavigationButton (tap)="onBackTap()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label [text]="item.name"></Label>
</ActionBar>


<StackLayout orientation="vertical">
    <StackLayout backgroundColor="transparent" padding="0" margin="0" height="auto">
        <Image src="{{ item.imageSrc }}" height="150" stretch="aspectFill"></Image>
    </StackLayout>
    <StackLayout backgroundColor="white" marginTop="-15" padding="5" margin="0"  height="auto" borderRadius="5">
        <Label text="{{ item.name }}" class="item-name" textWrap="true"></Label>
        <Label text="{{ item.desc }}" class="item-desc" textWrap="true"></Label>
        <Label text="{{ item.price }}" class="item-price"></Label>
    </StackLayout>
</StackLayout>