<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<!--
<GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
-->

<GridLayout>
    <RadListView [items]="items" marginRight="-2" backgroundColor="#e6e6e6">
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewStaggeredLayout>
        <ng-template  let-item="item">
            <StackLayout [nsRouterLink]="['../item', item.id]" orientation="vertical" width="200">
                <StackLayout backgroundColor="transparent" padding="0" margin="0" width="190" height="auto" borderRadius="5">
                    <Image src="{{ item.imageSrc }}" width="200" height="125" stretch="aspectFill" class="img-rounded"></Image>
                </StackLayout>
                <StackLayout backgroundColor="white" marginTop="-15" padding="5" margin="0" width="190" height="auto" borderRadius="5">
                    <Label text="{{ item.name }}" class="item-name" textWrap="true"></Label>
                    <Label text="{{ item.desc }}" class="item-desc" textWrap="true"></Label>
                    <Label text="{{ item.price }}" class="item-price"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>